<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Sistema Tecoles</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <button ng-click="doLogin()">LOGIN</button>&nbsp;&nbsp;
    <button ng-click="doLogout()">LOGOUT</button><br><br>
  </form>

  <br><br>
    <form>
    <button ng-click="goAlunos()">Cadastro de Alunos</button>&nbsp;&nbsp;
    <button ng-click="goProfessores()">Cadastro de Professores</button>&nbsp;&nbsp;
    <button ng-click="goQuestoes()">Cadastro de Questões</button>&nbsp;&nbsp;
    <button ng-click="#">Iniciar prova</button><br><br>
  </form>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // LOGIN
  $scope.doLogin = function() {
     window.open("/authentication", "_blank");
  }

  // LOGOUT
  $scope.doLogout = function() {
     $scope.clear();
     var request = $http({
                 "method": "delete",
                 "url": "/authentication"});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
     }
   );
 }
 // pagina de cadastro de professores
 $scope.goProfessores = function(){
   window.open("/professores","_self");
 }

 // pagina de cadastro de alunos
 $scope.goAlunos = function(){
   window.open("/alunos","_self");
 }

 // pagina de cadastro de questoes
 $scope.goQuestoes = function(){
   window.open("/questoes","_self");
 }

}
);
</script>

</body>
</html>
