<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Cadastro de Questoes</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    Codigo: <input type="text" ng-model="codigo"><br><br>
    Resposta: <input type="text" ng-model="resposta"><br><br>
    Nome do arquivo: <input type="text" ng-model="filename"><br><br>
    <input type="file" name="file-to-upload">
    <input type="submit" value="Upload"><br><br>
    <button ng-click="acessa()">ACESSA</button> &nbsp;
    <button ng-click="insere()">INSERE</button> &nbsp;
    <button ng-click="atualiza()">ATUALIZA</button> &nbsp;
    <button ng-click="remove()">REMOVE</button> &nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}

  <br><br>
  <table cellspacing="8">
    <tr> <th>{{hcodigo}}</th>  <th>{{hresposta}}</th>  <th>{{hfilename}}</th> </tr>
    <tr ng-repeat="x in questoes">
      <td>{{ x.codigo }}</td>
      <td>{{ x.resposta }}</td>
      <td>{{ x.filename }}</td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  // ACESSA
  $scope.acessa = function() {
     var url = "/questoes";
     if ($scope.codigo != undefined) url = "/questoes/" + $scope.codigo;
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.questoes != null) {
          $scope.hcodigo = "Codigo";
          $scope.hresposta = "Resposta";
          $scope.hfilename = "Nome do arquivo";
          $scope.mensagem = "";
          $scope.questoes = reply.questoes;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      $scope.clear();
      if ($scope.codigo == undefined || $scope.codigo.length == 0 ||
          $scope.resposta == undefined || $scope.resposta.length == 0 ||
          $scope.filename == undefined || $scope.filename.length == 0) {
             $scope.clear();
             $scope.mensagem = "preencha todos os campos acima";
             return;
      }
      var data = {"codigo": $scope.codigo,
                  "resposta": $scope.resposta,
                  "filename": $scope.filename};
      var request = $http({
                 "method": "post",
                 "url": "/questoes",
                 "data": data});
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // ATUALIZA
  $scope.atualiza = function() {
     $scope.clear();
     if (($scope.codigo == undefined || $scope.codigo.length == 0) ||
         ($scope.resposta == undefined || $scope.resposta.length == 0) &&
         ($scope.filename == undefined || $scope.filename.length == 0)) {
             $scope.clear();
             $scope.mensagem = "preencha a codigo e pelo menos um campo acima";
             return;
     }
     var data = {"codigo": $scope.codigo,
                 "resposta": $scope.resposta,
                 "filename": $scope.filename};
     var request = $http({
                 "method": "put",
                 "url": "/questoes/" + $scope.codigo,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  // REMOVE
  $scope.remove = function() {
     $scope.clear();
     if ($scope.codigo == undefined || $scope.codigo.length == 0) {
         $scope.clear();
         $scope.mensagem = "preencha a codigo do professor";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/questoes/" + $scope.codigo});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  // CLEAR
  $scope.clear = function() {
    $scope.questoes = [];
    $scope.mensagem = "";
    $scope.hcodigo = $scope.hresposta = $scope.hfilename = "";
    }
  }
);
</script>

</body>
</html>
